{% extends "todo_list.html" %}

{% block content %}
  <div>
    <h1>Create a new item</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create</button>
    </form>
  </div>
  <p><a href="{% url 'todo_list_detail' id=form.instance.list.id %}">Back to List</a></p>
{% endblock %}
