{% extends "todo_list.html" %}

{% block content %}
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <p><a href="{% url 'todos:todo_list_update' id=todo_list.id %}">Edit</a></p>
            <p><a href="{% url 'todos:todo_list_delete' id=todo_list.id %}">Delete</a></p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_list.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_item_update' id=item.id %}">{{ item.task }}</a></td>
                        <td>{{ item.due_date }}</td>
                        <td>
                            <a href="{% url 'todo_item_update' id=item.id %}">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
