{% extends "todo_list.html" %}

{% block content %}
    <div>
        <h1>Are you sure?</h1>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </div>
{% endblock %}
