<!-- todos/todo_list_update.html -->
{%extends "todo_list.html" %}

{% block content %}
    <div>
        <h1>Update List</h1>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>
        </form>
    </div>
{% endblock %}
